.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

a {
    color: #333e48;
    text-decoration: none;
    font-size: 14px;
    font-weight: 400;
}

a:hover {
    color: #333e48;
}

body {
    color: #333e48;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}

ul {
    list-style: none;
}

.drop-out {
    transition: all .15s linear !important;
    opacity: 0 !important;
    transform: translateY(10px) !important;
}

.top_bar {
    border-bottom: 1px solid #ddd;
}

.top_bar a {
    padding: 8px 0;
    display: inline-block;
}

#menu_top_bar_left {
    float: left;
}

#menu_top_bar_right {
    float: right;
}

#menu_top_bar_right i {
    font-size: 16px;
}

#menu_top_bar_right a.my_vr::before {
    content: '|';
    color: #ddd;
    display: inline-block;
    margin: 0 1em;
}

#master_header .master_header_top {
    padding-top: 32px;
    padding-bottom: 26px;
}

.master_header_top .header_logo_area {
    min-width: 300px;
    max-width: 300px;
}

.master_header_top .header_logo img {
    max-width: 145px;
}

.master_header_top .mobile_menu button {
    border: none;
    background: transparent;
    font-size: 17.5px;
}

.master_header_top .navbar_search .input-group {
    height: 41px;
}

.master_header_top .input_search_field {
    display: flex;
    height: 100%;
    flex-grow: 1;
    border: 2px solid #fed700;
    border-radius: 40px;
    border-right: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;

}

.master_header_top .input_search_field input {
    border: none;
    border-radius: 50px;
    padding-left: 20px;
    width: 100%;
    outline: 0;
}

.master_header_top .input_group_addon select {
    background-color: #ffff;
    background-image: url("/img/icons/dbarrow.png");
    background-repeat: no-repeat;
    background-position-x: 180px;
    background-position-y: center;
    background-size: 8px 10px;
    -webkit-appearance: none;
    padding: 0.25rem 2.2rem 0.25rem 0.75rem;
    border: 2px solid #fed700;
    border-left: none;
    outline: none;
    font-size: 14px;
    color: rgb(51, 62, 72);
    height: 41px;
}

.master_header_top .input_group_btn button {
    background-color: #fed700;
    ;
    border: 2px solid #fed700;
    border-radius: 0;
    border-top-right-radius: 22px;
    border-bottom-right-radius: 22px;
    height: 41px;
}

.master_header_top .input_group_btn i {
    font-size: 24px;
    color: #333e48;
}

.master_header_top .header_icon {
    margin-left: 38px;
}

.master_header_top .header_icon i {
    font-size: 22px;
}

.master_header_top .dropdown-toggle::after {
    display: none;
}

.master_header_top .dropdown_menu_user_account {
    transition: all .15s ease-in;
    left: -135px !important;
    top: 20px !important;
    opacity: 0;
    transform: translate(0px, 0px);
    color: #333e48;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: 7px;
    box-shadow: 0 0.125rem 0.312rem rgba(0, 0, 0, 0.11);
    border-top: 2px solid #fed700;
    min-width: 215px
}

.master_header_top .header_icon_user_account .show {
    opacity: 1;
    transition: all .15s ease-in;
}

.master_header_top .header_icon_user_account .dropdown_inner {
    min-width: 220px;
    text-align: center;
    font-size: 12px;
    padding-left: 21px;
    padding-right: 21px;
}

.master_header_top .dropdown_menu_user_account .register {
    border-top: 1px solid #ebebeb;
    padding: 10px 0;
}

.master_header_top .sign_in .sign_in_action {
    padding: 10px 0;
    text-align: center;
    font-size: 12px;
}

.master_header_top .dropdown_inner p {
    margin: 0;
}

.master_header_top .sign_in_action .sign_in_button {
    color: #333e48;
    background-color: #fed700;
    border-color: #fed700;
    padding: 3px 6px;
    display: inline-block;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

.master_header_top .header_icon_cart span.cart_items_count {
    background-color: #fed700;
    bottom: -12px;
    left: 10px;
    position: absolute;
    font-size: .75em;
    line-height: 1.75em;
    font-weight: 700;
    width: 1.75em;
    text-align: center;
    border-radius: 50%;
    display: inline-block;
    font-size: 12px;
    font-weight: 700;
}

.master_header_top .header_icon_cart .cart_items_total_price i {
    font-size: 15px;
    padding-left: 3px;
}

.master_header_top .header_icon_cart .cart_items_total_price {
    font-size: 16px;
    font-weight: 600;
    color: #333e48;
}

.master_header_top .dropdown_menu_cart {
    left: -250px !important;
    top: 20px !important;
    transform: translate(0px, 0px);
    color: #333e48;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: 7px;
    box-shadow: 0 0.125rem 0.312rem rgba(0, 0, 0, 0.11);
    border-top: 2px solid #fed700;
    min-width: 350px;
    padding: 2em 0 1.2em;
    right: 0 !important;

    opacity: 0;
    /* transition: all .15s ease-in; */

}

.master_header_top .header_icon_cart .show {
    opacity: 1;
    transition: all .15s ease-in;
}

.master_header_top .cart_empty_message {
    margin-bottom: 0;
    padding: 0 30px 10px;
}

.master_header_bottom {
    flex-wrap: nowrap;
    height: 45px;
}

.vertical_menu_main {
    min-width: 300px;
    max-width: 300px;
}

.vertical_menu_main .vertival_menu_inner {
    width: 100%;
    height: 100%;
    position: relative;
}

.vertival_menu_inner .vertical_menu_top {
    background-color: #fed700;
    font-weight: 700;
    font-size: 14px;
    display: flex;
    height: 100%;
    align-items: center;
    padding: 0 24px;
    border-radius: 0.5em;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.vertival_menu_inner .vertical_menu_top i {
    font-size: 14px;
    margin-right: 9px;
}

.vertical_menu_bottom {
    padding: 10px 14px;
    margin: 0;
    font-size: 14px;
}



.slide_menu {
    position: absolute;
    top: 0;
    left: 100%;
    background-color: white;
    height: 100%;
    z-index: 99;
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    border-top: 2px solid #fed700;
    width: 0;
}

.slide_menu_container {
    padding-left: 30px;
    padding-top: 30px;
    position: relative;
}

.slide_items {
    display: inline-flex;
    position: relative;
    z-index: 99;
}

.module {
    width: 250px;
}

.module ul {
    margin: 0;
    padding: 0;
}

.module li {
    padding-bottom: 18px;
    display: inline-block;
}

.my_divider {
    height: 1px;
    border-top: 1px solid #ddd;
    width: 100%;
}

.slide_bg {
    position: absolute;
    z-index: 90;
    bottom: -66px;
    left: 12px;
}

.slide_bg img {
    width: 0%;
}

#vertical_navbar .navbar_item_hover:hover .slide_bg img {
    width: 100%;
    transition: all .2s ease-in-out;
}

#vertical_navbar .navbar_item_hover:hover .slide_menu {
    visibility: visible;
    opacity: 1;
    pointer-events: all;
    transition: all .2s linear;
    width: 200%;
}

#vertical_navbar {
    position: absolute;
    font-size: 14px;
    left: 0;
    right: 0;
    background-color: white;
    z-index: 99;
}

#vertical_navbar .nav-item:hover>a {
    background-color: #f5f5f5;
    ;
    background-size: 80%;
}

#vertical_navbar .nav-link {
    padding-top: 6.7px;
    padding-bottom: 6.7px;
    margin-left: 15px;
    margin-right: 15px;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 14px;
    font-weight: 700;
    color: #333e48;
}

#vertical_navbar .navbar_item_hover>a {
    font-weight: 400;
}

#vertical_navbar .navbar_item_hover:hover>a {
    font-weight: 700;
}

#vertical_navbar .navbar_item_hover>a::after {
    font-family: font-electro;
    border-top: none;
    border-left: none;
    border-right: none;
    width: auto;
    height: auto;
    content: '\62';
    color: #aeaeae;
    font-size: 1em;
    line-height: 1;
    margin-top: 4px;
    float: right;
    font-size: 16px;
    font-weight: 600;
}

#vertical_navbar li.nav-item:not(:last-child)::after {
    position: absolute;
    width: calc(100% - 30px);
    ;
    height: 1px;
    content: "";
    background-color: #ddd;
    left: 50%;
    transform: translateX(-50%);

}


.horizontal_menu_main {
    display: grid;
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;

}

.horizontal_menu_main #horizontal_navbar {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    position: relative;
    height: 100%;
}

#horizontal_navbar>li {
    display: inline-block;
    height: 100%;

}

#horizontal_navbar>li:not(:last-child) {
    padding-right: 25px;
}

#horizontal_navbar li>a {
    font-weight: 700;
    height: 100%;
    display: inline-flex;
    align-items: center;
}

#horizontal_navbar .dropdown_horizontal_menu::after {
    content: "\f107";
    border-width: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    line-height: 1;
    vertical-align: -0.125em;
    font-family: 'font awesome 5 free';
    font-weight: 900;
    margin-left: 8px;
}

#horizontal_navbar .all_pages {
    position: absolute;
    width: calc(100% + 30px);
    top: 26px;
    left: 50%;
    transform: translate(-50%, -5px);
    padding-left: 30px;
    padding-top: 20px;
    z-index: 999;
    border-top: 2px solid #fed700;
    box-shadow: 0 0.125rem 0.312rem rgba(0, 0, 0, 0.11);
    background-color: white;
    opacity: 0;
    visibility: hidden;
    transition: all .15s linear;
    pointer-events: none;

}

#horizontal_navbar .dropdown_horizontal_menu:hover .all_pages {
    opacity: 1;
    visibility: visible;
    transform: translate(-50%, 16px);
    transition: all .15s linear;
    pointer-events: all;
}

.all_pages ul {
    padding: 0;
    margin: 0;
}

.all_pages li {
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 0;
}

.owl-carousel {
    position: relative;
    font-family: 'Roboto', sans-serif;
}

.owl-carousel .item {
    max-height: 422px;
}

.owl-carousel .item .item_field {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 34%;
    right: 13%;
    display: flex;
}

.owl_field_right {
    position: relative;

}

.owl_field_right .owl_img {
    position: absolute;
    left: 0;
    top: -50px;
}

.owl_field_right .owl_img img {
    width: 520px !important;
}
/* 59 15 */ 
.bir_bir{
    font-size: 66px;
    font-weight: 300;  
    line-height: 60px;
}
.bir_iki{
    font-size: 59px;  
    font-weight: 300; 
    line-height: 60px; 
}
.bir_uc{
    font-size: 15px;
    font-weight: 800;

}
.bir_dort{
    font-size: 56px;
    font-weight: 600;
}

.bir_bir.animate__animated.animate__fadeIn {
    --animate-duration: 1s;   
  }

 .anim_delay{
    animation-delay: 1s;
 }
  

@media (max-width: 575.98px) {}

@media (min-width: 576px) and (max-width: 767.98px) {
    .container {
        max-width: 540px;
    }
}

@media (min-width: 768px) and (max-width: 1199.98px) {
    .container {
        max-width: 720px;
    }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
    .container {
        max-width: 960px;
    }
}

@media (min-width: 1200px) and (max-width: 1479.98px) {
    .container {
        max-width: 1200px;
    }
}

@media (min-width: 1480px) {
    .container {
        max-width: 1430px;
    }

}

.filler {
    width: 100%;
    height: 450px;
    background-color: cornflowerblue;
    margin-bottom: 10px;

}