.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
}

@import url('https://rsms.me/inter/inter.css');

html {
    font-family: 'Inter', sans-serif;
}

@supports (font-variation-settings: normal) {
    html {
        font-family: 'Inter var', sans-serif;
    }
}
body {
    color: #333e48;
    font-family: 'Inter', 'Open Sans', sans-serif;
    font-size: 14px;
    padding: 0 !important;
}

a {
    color: #333e48;
    text-decoration: none;
    font-size: 14px;
    font-weight: 400;
}

a:hover {
    color: #333e48;
}



ul {
    list-style: none;
}

.drop-out {
    transition: all .15s linear !important;
    opacity: 0 !important;
    transform: translateY(10px) !important;
}

.top_bar {
    border-bottom: 1px solid #ddd;
}

.top_bar a {
    padding: 8px 0;
    display: inline-block;
}

#menu_top_bar_left {
    float: left;
}

#menu_top_bar_right {
    float: right;
}

#menu_top_bar_right i {
    font-size: 16px;
}

#menu_top_bar_right a.my_vr::before {
    content: '|';
    color: #ddd;
    display: inline-block;
    margin: 0 1em;
}


#master_header .master_header_top {
    padding-top: 32px;
    padding-bottom: 26px;
}

.master_header_top .header_logo_area {
    min-width: 300px;
    max-width: 300px;
}

.master_header_top .header_logo img {
    max-width: 145px;
}

.master_header_top .mobile_menu button {
    border: none;
    background: transparent;
    font-size: 17.5px;
}

.master_header_top .navbar_search .input-group {
    height: 41px;
}

.master_header_top .input_search_field {
    display: flex;
    height: 100%;
    flex-grow: 1;
    border: 2px solid #fed700;
    border-radius: 40px;
    border-right: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;

}

.master_header_top .input_search_field input {
    border: none;
    border-radius: 50px;
    padding-left: 20px;
    width: 100%;
    outline: 0;
}

.master_header_top .input_group_addon select {
    background-color: #ffff;
    background-image: url("/img/icons/dbarrow.png");
    background-repeat: no-repeat;
    background-position-x: 180px;
    background-position-y: center;
    background-size: 8px 10px;
    -webkit-appearance: none;
    padding: 0.25rem 2.2rem 0.25rem 0.75rem;
    border: 2px solid #fed700;
    border-left: none;
    outline: none;
    font-size: 14px;
    color: rgb(51, 62, 72);
    height: 41px;
}

.master_header_top .input_group_btn button {
    background-color: #fed700;
    ;
    border: 2px solid #fed700;
    border-radius: 0;
    border-top-right-radius: 22px;
    border-bottom-right-radius: 22px;
    height: 41px;
}

.master_header_top .input_group_btn i {
    font-size: 24px;
    color: #333e48;
}

.master_header_top .header_icon {
    margin-left: 38px;
}

.master_header_top .header_icon i {
    font-size: 22px;
}

.master_header_top .dropdown-toggle::after {
    display: none;
}

.master_header_top .dropdown_menu_user_account {
    transition: all .15s ease-in;
    left: -135px !important;
    top: 20px !important;
    opacity: 0;
    transform: translate(0px, 0px);
    color: #333e48;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: 7px;
    box-shadow: 0 0.125rem 0.312rem rgba(0, 0, 0, 0.11);
    border-top: 2px solid #fed700;
    min-width: 215px
}

.master_header_top .header_icon_user_account .show {
    opacity: 1;
    transition: all .15s ease-in;
}

.master_header_top .header_icon_user_account .dropdown_inner {
    min-width: 220px;
    text-align: center;
    font-size: 12px;
    padding-left: 21px;
    padding-right: 21px;
}

.master_header_top .dropdown_menu_user_account .register {
    border-top: 1px solid #ebebeb;
    padding: 10px 0;
}

.master_header_top .sign_in .sign_in_action {
    padding: 10px 0;
    text-align: center;
    font-size: 12px;
}

.master_header_top .dropdown_inner p {
    margin: 0;
}

.master_header_top .sign_in_action .sign_in_button {
    color: #333e48;
    background-color: #fed700;
    border-color: #fed700;
    padding: 3px 6px;
    display: inline-block;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

.master_header_top .header_icon_cart span.cart_items_count {
    background-color: #fed700;
    bottom: -12px;
    left: 10px;
    position: absolute;
    font-size: .75em;
    line-height: 1.75em;
    font-weight: 700;
    width: 1.75em;
    text-align: center;
    border-radius: 50%;
    display: inline-block;
    font-size: 12px;
    font-weight: 700;
}

.master_header_top .header_icon_cart .cart_items_total_price i {
    font-size: 15px;
    padding-left: 3px;
}

.master_header_top .header_icon_cart .cart_items_total_price {
    font-size: 16px;
    font-weight: 600;
    color: #333e48;
}

.master_header_top .dropdown_menu_cart {
    left: -250px !important;
    top: 20px !important;
    transform: translate(0px, 0px);
    color: #333e48;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: 7px;
    box-shadow: 0 0.125rem 0.312rem rgba(0, 0, 0, 0.11);
    border-top: 2px solid #fed700;
    min-width: 350px;
    padding: 2em 0 1.2em;
    right: 0 !important;

    opacity: 0;
    /* transition: all .15s ease-in; */

}

.master_header_top .header_icon_cart .show {
    opacity: 1;
    transition: all .15s ease-in;
}

.master_header_top .cart_empty_message {
    margin-bottom: 0;
    padding: 0 30px 10px;
}

.master_header_bottom {
    flex-wrap: nowrap;
    height: 45px;
}

.vertical_menu_main {
    min-width: 300px;
    max-width: 300px;
}

.vertical_menu_main .vertival_menu_inner {
    width: 100%;
    height: 100%;
    position: relative;
}

.vertival_menu_inner .vertical_menu_top {
    background-color: #fed700;
    font-weight: 700;
    font-size: 14px;
    display: flex;
    height: 100%;
    align-items: center;
    padding: 0 24px;
    border-radius: 0.5em;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.vertival_menu_inner .vertical_menu_top i {
    font-size: 14px;
    margin-right: 9px;
}

.vertical_menu_bottom {
    padding: 10px 14px;
    margin: 0;
    font-size: 14px;
}



.slide_menu {
    position: absolute;
    top: 0;
    left: 100%;
    background-color: white;
    height: 100%;
    z-index: 99;
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    border-top: 2px solid #fed700;
    width: 0;
}

.slide_menu_container {
    padding-left: 30px;
    padding-top: 30px;
    position: relative;
}

.slide_items {
    display: inline-flex;
    position: relative;
    z-index: 99;
}

.module {
    width: 250px;
}

.module ul {
    margin: 0;
    padding: 0;
}

.module li {
    padding-bottom: 18px;
    display: inline-block;
}

.my_divider {
    height: 1px;
    border-top: 1px solid #ddd;
    width: 100%;
}

.slide_bg {
    position: absolute;
    z-index: 90;
    bottom: -66px;
    left: 12px;
}

.slide_bg img {
    width: 0%;
}

#vertical_navbar .navbar_item_hover:hover .slide_bg img {
    width: 100%;
    transition: all .2s ease-in-out;
}

#vertical_navbar .navbar_item_hover:hover .slide_menu {
    visibility: visible;
    opacity: 1;
    pointer-events: all;
    transition: all .2s linear;
    width: 200%;
}

#vertical_navbar {
    position: absolute;
    font-size: 14px;
    left: 0;
    right: 0;
    background-color: white;
    z-index: 99;
}

#vertical_navbar .nav-item:hover>a {
    background-color: #f5f5f5;
    ;
    background-size: 80%;
}

#vertical_navbar .nav-link {
    padding-top: 6.7px;
    padding-bottom: 6.7px;
    margin-left: 15px;
    margin-right: 15px;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 14px;
    font-weight: 700;
    color: #333e48;
}

#vertical_navbar .navbar_item_hover>a {
    font-weight: 400;
}

#vertical_navbar .navbar_item_hover:hover>a {
    font-weight: 700;
}

#vertical_navbar .navbar_item_hover>a::after {
    font-family: font-electro;
    border-top: none;
    border-left: none;
    border-right: none;
    width: auto;
    height: auto;
    content: '\62';
    color: #aeaeae;
    font-size: 1em;
    line-height: 1;
    margin-top: 4px;
    float: right;
    font-size: 16px;
    font-weight: 600;
}

#vertical_navbar li.nav-item:not(:last-child)::after {
    position: absolute;
    width: calc(100% - 30px);
    ;
    height: 1px;
    content: "";
    background-color: #ddd;
    left: 50%;
    transform: translateX(-50%);

}


.horizontal_menu_main {
    display: grid;
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;

}

.horizontal_menu_main #horizontal_navbar {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    position: relative;
    height: 100%;
}

#horizontal_navbar>li {
    display: inline-block;
    height: 100%;

}

#horizontal_navbar>li:not(:last-child) {
    padding-right: 25px;
}

#horizontal_navbar li>a {
    font-weight: 700;
    height: 100%;
    display: inline-flex;
    align-items: center;
}

#horizontal_navbar .dropdown_horizontal_menu::after {
    content: "\f107";
    border-width: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    line-height: 1;
    vertical-align: -0.125em;
    font-family: 'font awesome 5 free';
    font-weight: 900;
    margin-left: 8px;
    color: #dc3545;
}

#horizontal_navbar .all_pages {
    position: absolute;
    width: calc(100% + 30px);
    top: 26px;
    left: 50%;
    transform: translate(-50%, -5px);
    padding-left: 30px;
    padding-top: 20px;
    z-index: 999;
    border-top: 2px solid #fed700;
    box-shadow: 0 0.125rem 0.312rem rgba(0, 0, 0, 0.11);
    background-color: white;
    opacity: 0;
    visibility: hidden;
    transition: all .15s linear;
    pointer-events: none;

}

#horizontal_navbar .dropdown_horizontal_menu:hover .all_pages {
    opacity: 1;
    visibility: visible;
    transform: translate(-50%, 16px);
    transition: all .15s linear;
    pointer-events: all;
}

.all_pages ul {
    padding: 0;
    margin: 0;
}

.all_pages li {
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 0;
}

.main_slider.owl-carousel {
    position: relative;
    font-family: 'Roboto', sans-serif;
}



.main_slider.owl-carousel .item .item_field {
    display: flex;
    padding-left: 31%;
    padding-right: 8%;
    height: 442px;
    /* visibility: hidden; */

}


.main_slider .owl_field_left {
    display: flex;
    align-items: center;
    /* justify-content: center; */

}

.main_slider .owl_field_right {
    display: flex;
    /* justify-content: center; */
}

.main_slider .owl_text {
    color: rgb(51, 62, 72);
}

.main_slider .owl_button {
    font-size: 18px;
    font-weight: 300;
    line-height: 17px;
    padding: 14px 58px;
    border-radius: 10px;
    background-color: #fed700;
}

.main_slider .owl_field_right .owl_img_main {
    height: 100%;
}

.main_slider .owl_field_right .owl_img {
    height: 100%;
    display: flex;
    align-items: center;
    float: left;
}

.main_slider .width_auto {
    width: auto !important;
    height: 110%;

}


.owl_bg {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -99;
    height: 442px;
    width: 100%;
}

/* owl-1 içerikeri************************* */
.bir_bir {
    font-size: 66px;
    font-weight: 300;
    line-height: 60px;
}

.bir_iki {
    font-size: 59px;
    font-weight: 300;
    line-height: 60px;
}

.bir_uc {
    font-size: 15px;
    font-weight: 800;
}

.bir_dort {
    font-size: 56px;
    font-weight: 600;
}

.bir_dort_from {
    font-size: 14px;
}

.bir.dort sup {
    font-size: 42px
}

.bir_bir.animate__animated.animate__fadeIn {
    animation-delay: 0.8s;
    animation-duration: .3s;
}

.bir_iki.animate__animated.animate__fadeIn {
    animation-delay: 1.0s;
    animation-duration: .3s;
}

.bir_uc.animate__animated.animate__fadeIn {
    animation-delay: 1.2s;
    animation-duration: .3s;
}

.bir_dort.animate__animated.animate__fadeIn {
    animation-delay: 1.4s;
    animation-duration: .3s;
}

.bir_bes.animate__animated.animate__fadeIn {
    animation-delay: 1.6s;
    animation-duration: .3s;
}

.my_anim_img {
    animation-name: my_kf_anim_img;
    animation-delay: 0.8s;
    animation-duration: 1s;
    animation-fill-mode: both;
}

@keyframes my_kf_anim_img {
    from {
        transform: translate(50%, 0);

    }

    to {
        transform: translate(0, 0);
    }
}

.my_anim_img_main {
    animation-name: my_kf_anim_img_main;
    animation-delay: 0.8s;
    animation-duration: 1s;
    animation-fill-mode: both;
}

@keyframes my_kf_anim_img_main {
    from {
        /* transform: translate(50%,0); */
        width: 38%;
    }

    to {
        /* transform: translate(0,0); */
        width: 100%;
    }
}

/* owl-2 içerikeri************************* */
.iki_bir {
    color: rgb(52, 188, 236);
    font-size: 18px;
    font-weight: 600;
}

.iki_iki {
    color: rgb(51, 62, 72);
    font-size: 45px;
    font-weight: 300;
    line-height: 48px;
    padding-bottom: 50px;
}

.iki_iki strong {
    font-weight: 700;
}

@keyframes kf_gizle {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.my_slideInLeft {
    animation: slideInLeft, kf_gizle;
    animation-duration: .4s;
    animation-delay: 0.8s;
    animation-fill-mode: both;
}

.my_slideInRight {
    animation: slideInRight, kf_gizle;
    animation-duration: .4s;
    animation-delay: 1.2s;
    animation-fill-mode: both;
}

.my_slideInUp {
    animation: slideInUp, kf_gizle;
    animation-duration: .4s;
    animation-delay: 1.6s;
    animation-fill-mode: both;
}

.my_fadeIn {
    animation: fadeIn, kf_gizle;
    animation-duration: .4s;
    animation-delay: 2s;
    animation-fill-mode: both;
}

/* owl-3 içerikeri************************* */
.uc_bir {
    color: rgb(52, 188, 236);
    font-size: 18px;
    font-weight: 600;
}

.uc_iki {
    color: rgb(51, 62, 72);
    font-size: 45px;
    font-weight: 300;
    line-height: 48px;
    padding-bottom: 50px;
}

.uc_iki strong {
    font-weight: 700;
}


/* ************************************** */

.main_slider .owl-dots {
    position: absolute;
    bottom: 4%;
    left: 28%;
}

.main_slider .owl-dots .active span {
    width: 35px !important;
    background-color: #fed700 !important;
    transition: .3s;
}

/* mobile nav bar *************************************** */
.mobileNavBar_main {
    background-color: #fed700;

}

.mobileNavBar {
    display: flex;
    justify-content: space-between;
    padding-top: 5px;
    padding-bottom: 5px;
}

.mobile_nav_left {
    display: flex;
    align-items: center;
    min-width: 150px;
    justify-content: space-between;
    padding-left: 10px;
    font-size: 18px;

}

.mobile_logo svg {
    width: 100px;
}

.mobile_nav_right {
    display: flex;
    min-width: 120px;
    align-items: center;
    justify-content: space-between;
    font-size: 25px;
}

.mobile_searchBar {
    position: absolute;
    left: 0;
    top: 52px;
    width: 100%;
    background-color: rgb(255, 255, 255);
    z-index: 99;
    box-shadow: 0 4px 3px 0 rgb(1 1 1 / 10%);
    display: none;
}

.mobile_searchBar form {
    display: flex;
    justify-content: space-between;
    font-size: 18px;

}

.mobile_searchBar input {
    width: 100%;
    border: none;
    outline: none;
}

.mobile_searchBar button {
    background-color: transparent;
    border: 0;
    outline: 0;
    padding: 0;
    margin: 0;
    font-size: 26px;
}

/* off- canvas */

.offcanvas {
    width: 350px;
}

.offcanvas-body {
    width: 100%;
    padding: 0;
}

.offcanvas .dropdown_item {
    border-bottom: 1px solid #dddddddd;
}

.offcanvas .dropdown_button {
    padding: 15px 20px;   
}
.offcanvas .dropdown_button a{
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.offcanvas .dropdown_content {
    background-color: #dddddd;

}
.offcanvas .dropdown_content .dropdown_content_inner{
    border-bottom: 1px solid #aaaaaa;
}
.offcanvas .dropdown_content_inner a{
    display: block;
}
.offcanvas .content_header{
    font-weight: 700;
}
.offcanvas .dropdown_content a{
    padding: 15px 20px;
}
.offcanvas .dropdown_button>a i{
    transition: .3s ease-in-out;
    transform: rotate(179deg);
    font-size: 12px;
    font-weight: 700;
}
.offcanvas .dropdown_button>a.collapsed i{
    transform: rotate(0deg);
    transition: .3s ease-in-out;

}  



/* .offcanvas  .dropdown_sub_items {
    padding: 15px 0px;
    background: #ddd;  

}

.offcanvas .dropdown_item .dropdown_sub_items a {
    display: flex;
    flex-direction: column;
}

.offcanvas .dropdown_item>a {
    display: flex;
    justify-content: space-between;
    align-items: center;
} */


/* content_1 card overflow **********************/
.content_1 {
    padding-bottom: 40px;
}

.no_wrap {
    flex-wrap: nowrap;
    overflow-x: auto;
}

.co {
    display: flex;
    padding: 16px;
    background-color: #f5f5f5;
    justify-content: center;
}

.co_body {
    display: flex;
    flex-direction: column;
    justify-content: space-between
}

.co_img img {
    width: 90%;
    max-width: 155px;
}

.co_text {
    font-size: 17px;
    font-weight: 200;
    line-height: 21px;
    text-transform: uppercase;
}

.co_text strong {
    font-weight: 700;
}

.co_action {
    font-size: 14px;
    line-height: 30px;
    font-weight: 700;
}

.co_action::after {
    background-color: #fed700;
    width: 18px;
    height: 18px;
    line-height: 1.4;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    vertical-align: -0.125em;
    font-family: 'font awesome 5 free';
    font-weight: 900;
    border-radius: 50%;
    content: "\f105";
    font-weight: 700;
    margin-left: 8px;
    color: #fff;
    text-align: center;
}

.upto {
    text-transform: uppercase;
}

.upto .prefix {
    font-size: .919em;
    line-height: .909em;
    display: inline-block;
    width: 1.4em;
    margin-right: 4px;
    margin-bottom: 2px;
}

.upto .value {
    font-weight: 700;
    font-size: 2.173em;
    letter-spacing: -.025em;
    line-height: 30px;
}

.upto .suffix {
    font-weight: 700;
    margin-left: 2px;
    vertical-align: top;
}

/* content_1 deals **********************************/
.deals {
    display: flex;
    flex-direction: column;
    padding: 20px;
    border: 2px solid #fed700;
    border-radius: 30px;

}

.deals_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.deals_header .header_text {
    font-size: 22px;
    font-weight: 400;
}

.deals_header .header_save {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #fed700;
    width: 76px;
    height: 76px;
    border-radius: 80px;
    color: #000;
    font-size: 18px;
    line-height: 18px;
    font-weight: 700;
}

.deals_img {
    display: flex;
    justify-content: center;
    /* padding-bottom: 20px; */
}

.deals_img img {
    width: 90%;
}

.deals_product_title {
    display: flex;
    justify-content: center;
    font-size: 14px;
    color: #0062bd;
    font-weight: 700;
}

.deals_price {
    display: flex;
    justify-content: center;
    font-size: 30.00px;
    color: #dc3545;
    align-items: flex-end;
    padding-top: 20px;

}

.deals_price del {
    font-size: 18px;
    padding-left: 10px;
    color: #768b9e;
}

.deals_countdown {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 15px;
}

.deals_countdown .countdown_header {
    font-size: 14px;
    font-weight: 400;
    color: #333e48;
}

.deals_countdown .countdown_timer {
    display: flex;
    padding-top: 8px;
}

.countdown_timer>div {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8px;
    position: relative;
}

.countdown_timer>div>span:first-of-type {
    display: flex;
    justify-content: center;
    font-size: 30px;
    background-color: #ebebeb;
    width: 60px;
}

.countdown_timer>div>span:last-of-type {
    font-size: 12px;
    font-weight: 700;
}

.countdown_timer>div:not(:last-child)::after {
    content: ":";
    position: absolute;
    right: -4px;
    font-size: 25px;
}

/* content_1 tab panel *************************** */
.products_tabs {
    padding-left: 15px;
    /* padding-right: 15px; */
}

.tab_menu {
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #aeaeae73;
}

.tab_menu a {
    font-size: 18px;
    color: #333e48;
}

.tab_menu .active {
    position: relative;
    font-weight: 700;
}

.tab_menu .active::before {
    content: "";
    position: absolute;
    width: 75%;
    height: 2px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: #fed700;
}

.tab_menu .active::after {
    content: "";
    position: absolute;
    width: 10%;
    height: 5px;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #fed700;
}

.tab_menu .nav-link {
    
    padding:15px 7px;

}

.tab_menu .nav-link:focus,
.tab_menu .nav-link:hover {
    color: #333e48;
}

.tab_contents {
    padding-top: 10px;
}

.tab_contents>.tab-pane {
    display: none;
}

.tab_contents>.tab-pane.active {
    display: block;
}

.tab_contents>.tab-pane>.row>* {
    padding: 0;
    position: relative;
}


.ct_main {
    position: relative;
    width: 100%;
    overflow: hidden;
    border: 1px solid transparent;
    border-bottom: none;
    height: 100%;
    background-color: white;

}

.ct_main:hover {
    overflow: visible;
    border: 1px solid #768b9e54;
    box-shadow: 0 0.125rem 0.312rem rgba(0, 0, 0, 0.11);
    border-bottom: none;
    z-index: 9;
}

.ct {
    position: relative;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    margin: 5px;
    padding: 15px;
    background-color: white;
    overflow: hidden;
    height: 100%;
}

.ct_main:hover .ct {
    overflow: visible;
}

.ct_main:hover .ct_price_right {
    background-color: #fed700;
}

.ct_header {
    height: 100%;
}

.ct_header h6 {
    font-size: 12px;
    font-weight: 400;
    color: #768b9e;
    min-height: 24px;
}


.ct_header h5 {
    font-size: 14px;
    font-weight: 700;
    color: #0062bd;
}

.ct_img img {
    width: 100%;
}

.ct_price {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-top: 10px;
    min-height: 48px;
}

.ct_price_left {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    font-weight: 400;
}

.ct_price_left del {
    font-size: 12px;
    color: #aeaeae;
}

.ct_price_right {
    background-color: #ddd;
    border-radius: 50%;
}

.ct_price_right a {
    float: right;
    background-color: transparent;
    padding: 0;
    border-width: 0;
    z-index: 99999999;
}

.ct_price_right a.cart::before {
    content: "\61";
    font-family: font-electro;
    padding: 8.94px 8px;
    font-weight: 400;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 1;
    vertical-align: -0.125em;
    color: #fff;
    font-size: 18px;
    padding: 0.5em 0.433em;
}

.ct_price_right a.arrow::after {
    content: "\f30b";
    padding: 0.5em 0.504em;
    float: right;
    text-indent: 0;
    line-height: 16px;
    font-family: 'font awesome 5 free';
    font-weight: 900;
    color: white;
}

.ct_footer {
    display: flex;
    justify-content: space-between;
    position: absolute;
    width: calc(100% + 12px);
    bottom: 5px;
    left: 0;
    right: 0;
    transform: translate(-6px, 100%);
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 11px;
    border: 1px solid #768b9e54;
    box-shadow: 0 0.125rem 0.312rem rgba(0, 0, 0, 0.11);
    border-top: none;
    background-color: white;
    font-size: 13px;
}

.ct_footer::after {
    content: "";
    width: 80%;
    height: 0.8px;
    top: 0;
    background-color: #768b9e5b;
    position: absolute;
}

.ct_footer a {
    color: #768b9e;
    font-size: 13px;
}

/* content_2 **************************************************/
.content_2_bg {
    background-color: #ebebeb;
    padding-bottom: 30px;
}

.v_cols_nav {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
    border-bottom: 1px solid #768b9e54;

}

.v_cols_nav .nav {
    padding-top: 20px;
    flex-flow: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;

}

.v_cols_nav .nav-item a {
    color: #333e48;
    font-size: 15px;
    position: relative;
}

.v_cols_nav .nav-item a.active {
    font-weight: 700;
}

.v_cols_nav .nav-item a:hover {
    color: #333e48;
}

.v_cols_nav .active::before {
    content: "";
    position: absolute;
    width: 75%;
    height: 3px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: #fed700;
}

.v_cols_nav .active::after {
    content: "";
    position: absolute;
    width: 10%;
    height: 5px;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #fed700;
    z-index:9999;
}

.v_cols_contents .row>* {
    padding: 0;
}

.img_footer img{
    width: 60px;
    height: 60px;
    border: 1px solid #ddd;
    padding-right: 5px;
}

.v_col_button{
    border-radius: 15px;
    padding-right: 8px;
    background-color: #fed700;
}
.v_col_button a{
    color : white;
    font-weight: 700;
    font-size: 12px;
}


/* **************************************************** */
/* **************************************************** */
/* **************************************************** */
/* **************************************************** */
/* **************************************************** */
/* **************************************************** */
/* **************************************************** */
/* **************************************************** */
.h_300 {
    height: 300px;
}

.h_150 {
    height: 150px;
}


.filler {
    width: 100%;
    height: 600px;
    background-color: cornflowerblue;
    margin-bottom: 10px;
    display: flex;
    align-items: flex-end;
}

.h25vm {
    height: 500px;
}

/* **************************************************** */
/* **************************************************** */
/* **************************************************** */
/* **************************************************** */
/* **************************************************** */
/* **************************************************** */
/* **************************************************** */
/* **************************************************** */




@media (max-width: 575.98px) {

    .main_slider.owl-carousel .item .item_field,
    .owl_bg {
        max-height: 195px;
    }

    .main_slider.owl-carousel .item .item_field {
        padding-left: 0;
        padding-right: 0;
    }

    .bir_bir {
        font-size: 22px;
        line-height: 22px;
    }

    .bir_iki {
        font-size: 22px;
        line-height: 22px;
    }

    .bir_uc {
        font-size: 8px;
    }

    .bir_dort {
        font-size: 19px;
        /* padding-bottom: 30px; */
    }

    .bir_dort_from {
        font-size: 8px;
        line-height: 3px;
        padding-top: 11px;
    }

    .main_slider .owl_button {
        font-size: 14px;
        line-height: 14px;
        padding: 7px 27px;
    }

    .iki_bir {
        font-size: 10px;
        line-height: 30px;

    }

    .iki_iki {
        font-size: 16px;
        line-height: 18px;
        padding-bottom: 15px;
    }

    .uc_bir {
        font-size: 10px;
        line-height: 30px;
    }

    .uc_iki {
        font-size: 14px;
        line-height: 18px;
        padding-bottom: 15px;
    }
    .offcanvas {
        width: 270px;
    }
    .ct_price_right {
        display: none;
    }

}

/*****************************************/
@media (max-width: 413.98px) {

    .main_slider.owl-carousel .item .item_field,
    .owl_bg {
        max-height: 176px;
    }
}

@media (max-width: 374.98px) {

    .main_slider.owl-carousel .item .item_field,
    .owl_bg {
        max-height: 151px;
    }
}

/*****************************************/


@media (min-width: 576px) and (max-width: 767.98px) {
    .container {
        max-width: 540px;
    }

    .main_slider.owl-carousel .item .item_field,
    .owl_bg {
        max-height: 195px;
    }

    .main_slider.owl-carousel .item .item_field {
        padding-left: 0;
        padding-right: 0;
    }
    .ct_price_right {
        display: none;
    }

}

@media (min-width: 768px) and (max-width: 1199.98px) {
    .container {
        max-width: 720px;
    }

    .main_slider.owl-carousel .item .item_field,
    .owl_bg {
        height: 320px;
    }

    .main_slider.owl-carousel .item .item_field {
        padding-left: 0;
        padding-right: 0;
    }

    .bir_bir {
        font-size: 55px;
        line-height: 55px;
    }

    .bir_iki {
        font-size: 48px;
        line-height: 55px;
    }

    .bir_uc {
        font-size: 15px;
    }

    .bir_dort {
        font-size: 49px;
    }

    .bir_dort_from {
        font-size: 12px;
        line-height: 1px;
        padding-top: 11px;
    }

    .main_slider.owl_button {
        font-size: 18px;
        line-height: 18px;
        padding: 14px 45px;
    }

    .iki_bir {
        font-size: 16px;
    }

    .iki_iki {
        font-size: 40px;
        line-height: 35px;
        padding-bottom: 30px;
    }

    .uc_bir {
        font-size: 16px;
    }

    .uc_iki {
        font-size: 40px;
        line-height: 35px;
        padding-bottom: 30px;
    }

    .ct_header h6 {
        font-size: 10px;
    }

    .ct_header h5 {
        font-size: 12px;
    }

    .ct_price_left {
        font-size: 16px;
    }

    .ct_price_right {
        display: none;
    }

}

@media (min-width: 992px) and (max-width: 1199.98px) {
    .container {
        max-width: 960px;
    }

    .main_slider.owl-carousel .item .item_field,
    .owl_bg {
        height: 369px;
    }

    .main_slider.owl-carousel .item .item_field {
        padding-left: 7%;
        padding-right: 7%;
    }

    .bir_bir {
        font-size: 58px;
        line-height: 55px;
    }

    .bir_iki {
        font-size: 52px;
        line-height: 55px;
    }

    .bir_uc {
        font-size: 12px;
    }

    .bir_dort {
        font-size: 49px;
    }

    .bir_dort_from {
        font-size: 12px;
        line-height: 1px;
        padding-top: 11px;
    }

    .main_slider.owl_button {
        font-size: 18px;
        line-height: 18px;
        padding: 14px 45px;
    }

    .iki_bir {
        font-size: 16px;
    }

    .iki_iki {
        font-size: 40px;
        line-height: 48px;
        padding-bottom: 30px;
    }

    .uc_bir {
        font-size: 16px;
    }

    .uc_iki {
        font-size: 40px;
        line-height: 48px;
        padding-bottom: 30px;
    }

}


@media (min-width: 1200px) and (max-width: 1479.98px) {
    .container {
        max-width: 1200px;
    }
}

@media (min-width: 1480px) {
    .container {
        max-width: 1430px;
    }

}

@media (min-width:768px) {
    .mobile_nav_left {
        padding-left: 0px;
    }
}


/* tab content içerikleri arasındaki çizgi nin mobile göre ayarlamsı */
@media (max-width:767.98px) {
    .tab_contents>.tab-pane>.row>*:not(:nth-child(2n))::after {
        content: "";
        position: absolute;
        height: 70%;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 0.8px;
        background-color: #768b9e54;
    }
}

@media (min-width: 768px) and (max-width: 1399.98px) {
    .tab_contents>.tab-pane>.row>*:not(:nth-child(3n))::after {
        content: "";
        position: absolute;
        height: 70%;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 0.8px;
        background-color: #768b9e54;
    }
}

@media (min-width:1400px) {
    .tab_contents>.tab-pane>.row>*:not(:nth-child(4n))::after {
        content: "";
        position: absolute;
        height: 70%;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 0.8px;
        background-color: #768b9e54;
    }
}

/* ********************************** */